function CalcPixel.init 0
push constant 1
push constant 127
push constant 8192
call Float316.new 3
pop static 0
call Parameters.cameraPos 0
pop static 1
call Parameters.maxMarchingSteps 0
pop static 2
call Parameters.maxMarchingStepsShadow 0
pop static 3
call Parameters.maxDist 0
pop static 4
call Parameters.backgroundColor 0
pop static 5
call Parameters.ambientBackgroundColor 0
pop static 6
call Parameters.lightPos 0
pop static 7
call Parameters.precision2 0
pop static 8
call Vec3.newZero 0
pop static 9
call Vec3.newZero 0
pop static 10
call Vec3.newZero 0
pop static 11
call Surface.newZero 0
pop static 15
call Vec3.newZero 0
pop static 16
call Float316.newZero 0
pop static 17
call Vec3.newZero 0
pop static 20
call Vec3.newZero 0
pop static 21
call Vec3.newZero 0
pop static 22
call Float316.newZero 0
pop static 23
call Vec3.newZero 0
pop static 19
call Float316.newZero 0
pop static 18
call Vec3.newZero 0
pop static 12
call Vec3.newZero 0
pop static 13
call Vec3.newZero 0
pop static 14
push static 12
push static 13
push static 14
call CameraMatrix.create 3
pop temp 0
push constant 0
return
function CalcPixel.calcPixelValue 1
push static 9
push argument 1
push argument 2
push static 0
call Vec3.set 4
pop temp 0
push static 9
push static 9
call UtilsVec.normalize 2
pop temp 0
push static 10
call Vec3.x 1
push static 12
push static 9
call UtilsVec.dot 3
pop temp 0
push static 10
call Vec3.y 1
push static 13
push static 9
call UtilsVec.dot 3
pop temp 0
push static 10
call Vec3.z 1
push static 14
push static 9
call UtilsVec.dot 3
pop temp 0
push static 15
push static 1
push static 10
push static 2
call RayMarcher.rayMarch 4
pop temp 0
push static 15
call Surface.sd 1
pop local 0
push local 0
push static 4
call Float316.gt 2
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 0
push static 5
call Float316.s 1
push static 5
call Float316.e 1
push static 5
call Float316.m 1
call Float316.set 4
pop temp 0
push constant 0
return
label IF_FALSE0
push static 11
push static 10
push local 0
call Vec3.cmul 3
pop temp 0
push static 11
push static 1
push static 11
call Vec3.add 3
pop temp 0
push static 16
push static 11
call RayMarcher.calcNormal 2
pop temp 0
push static 17
push static 11
push static 16
call RayMarcher.lightIntensity 3
pop temp 0
push argument 0
push static 15
call Surface.col 1
push static 17
call Float316.mul 3
pop temp 0
push argument 0
push argument 0
push static 6
call Float316.add 3
pop temp 0
push static 20
push static 7
push static 11
call Vec3.sub 3
pop temp 0
push static 21
push static 20
call UtilsVec.normalize 2
pop temp 0
push static 22
push static 16
push static 8
call Vec3.cmul 3
pop temp 0
push static 22
push static 22
push static 11
call Vec3.add 3
pop temp 0
push static 15
push static 22
push static 21
push static 3
call RayMarcher.rayMarch 4
pop temp 0
push static 15
call Surface.sd 1
pop local 0
push static 23
push local 0
call Float316.s 1
push local 0
call Float316.e 1
push local 0
call Float316.m 1
call Float316.set 4
pop temp 0
push static 19
push static 7
push static 22
call Vec3.sub 3
pop temp 0
push static 18
push static 19
call UtilsVec.length 2
pop temp 0
push static 18
push static 23
call Float316.gt 2
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push argument 0
call Float316.quarter 1
pop temp 0
label IF_FALSE1
push constant 0
return
