function CameraMatrix.init 0
push constant 0
push constant 0
push constant 0
call Float316.new 3
push constant 0
push constant 127
push constant 8192
call Float316.new 3
push constant 0
push constant 0
push constant 0
call Float316.new 3
call Vec3.new 3
pop static 0
call Vec3.newZero 0
pop static 1
call Vec3.newZero 0
pop static 2
call Vec3.newZero 0
pop static 3
push constant 0
return
function CameraMatrix.create 0
push static 1
call Parameters.cameraPos 0
call Parameters.cameraLookAt 0
call Vec3.sub 3
pop temp 0
push static 1
push static 1
call UtilsVec.normalize 2
pop temp 0
push static 2
push static 0
push static 1
call UtilsVec.cross 3
pop temp 0
push static 2
push static 2
call UtilsVec.normalize 2
pop temp 0
push static 3
push static 1
push static 2
call UtilsVec.cross 3
pop temp 0
push argument 0
push static 2
call Vec3.x 1
push static 3
call Vec3.x 1
push static 1
call Vec3.x 1
call Vec3.set 4
pop temp 0
push argument 1
push static 2
call Vec3.y 1
push static 3
call Vec3.y 1
push static 1
call Vec3.y 1
call Vec3.set 4
pop temp 0
push argument 2
push static 2
call Vec3.z 1
push static 3
call Vec3.z 1
push static 1
call Vec3.z 1
call Vec3.set 4
pop temp 0
push constant 0
return
