function Parameters.init 0
push constant 1
push constant 127
push constant 12288
call Float316.new 3
push constant 0
push constant 0
push constant 0
call Float316.new 3
push constant 0
push constant 0
push constant 0
call Float316.new 3
call Vec3.new 3
pop static 0
push constant 0
push constant 127
push constant 8192
call Float316.new 3
pop static 2
push constant 0
push constant 127
push constant 12288
call Float316.new 3
push constant 0
push constant 0
push constant 0
call Float316.new 3
push constant 0
push constant 0
push constant 0
call Float316.new 3
call Vec3.new 3
pop static 1
push constant 0
push constant 127
push constant 8192
call Float316.new 3
pop static 3
push constant 0
push constant 125
push constant 8192
call Float316.new 3
pop static 4
push constant 0
push constant 0
push constant 0
call Float316.new 3
push constant 0
push constant 127
push constant 12288
call Float316.new 3
push constant 0
push constant 129
push constant 8192
call Float316.new 3
call Vec3.new 3
pop static 5
push constant 0
push constant 0
push constant 0
call Float316.new 3
push constant 0
push constant 0
push constant 0
call Float316.new 3
push constant 0
push constant 0
push constant 0
call Float316.new 3
call Vec3.new 3
pop static 6
push constant 0
push constant 126
push constant 11468
call Float316.new 3
pop static 7
push constant 0
push constant 126
push constant 13680
call Float316.new 3
pop static 8
push constant 0
push constant 124
push constant 10944
call Float316.new 3
pop static 9
push constant 0
push constant 128
push constant 8192
call Float316.new 3
push constant 0
push constant 129
push constant 10240
call Float316.new 3
push constant 1
push constant 127
push constant 8192
call Float316.new 3
call Vec3.new 3
pop static 12
push constant 0
push constant 126
push constant 10321
call Float316.new 3
pop static 10
push constant 0
push constant 125
push constant 11468
call Float316.new 3
pop static 11
push constant 0
push constant 120
push constant 10485
call Float316.new 3
pop static 13
call Float316.newZero 0
pop static 14
push static 14
push static 13
call Float316.s 1
push static 13
call Float316.e 1
push static 13
call Float316.m 1
call Float316.set 4
pop temp 0
push static 14
call Float316.double 1
pop temp 0
push constant 0
push constant 130
push constant 12288
call Float316.new 3
pop static 15
push constant 64
pop static 16
push constant 32
pop static 17
push constant 0
push constant 119
push constant 10485
call Float316.new 3
push constant 1
push constant 119
push constant 10485
call Float316.new 3
push constant 1
push constant 119
push constant 10485
call Float316.new 3
call Vec3.new 3
pop static 18
push constant 1
push constant 119
push constant 10485
call Float316.new 3
push constant 1
push constant 119
push constant 10485
call Float316.new 3
push constant 0
push constant 119
push constant 10485
call Float316.new 3
call Vec3.new 3
pop static 19
push constant 1
push constant 119
push constant 10485
call Float316.new 3
push constant 0
push constant 119
push constant 10485
call Float316.new 3
push constant 1
push constant 119
push constant 10485
call Float316.new 3
call Vec3.new 3
pop static 20
push constant 0
push constant 119
push constant 10485
call Float316.new 3
push constant 0
push constant 119
push constant 10485
call Float316.new 3
push constant 0
push constant 119
push constant 10485
call Float316.new 3
call Vec3.new 3
pop static 21
push constant 0
return
function Parameters.spherePos 0
push static 0
return
function Parameters.sphereRad 0
push static 2
return
function Parameters.torusPos 0
push static 1
return
function Parameters.torusOuterRad 0
push static 3
return
function Parameters.torusInnerRad 0
push static 4
return
function Parameters.cameraPos 0
push static 5
return
function Parameters.cameraLookAt 0
push static 6
return
function Parameters.objectColor 0
push static 7
return
function Parameters.backgroundColor 0
push static 8
return
function Parameters.ambientBackgroundColor 0
push static 9
return
function Parameters.lightPos 0
push static 12
return
function Parameters.kd_id 0
push static 10
return
function Parameters.ks_is 0
push static 11
return
function Parameters.precision 0
push static 13
return
function Parameters.precision2 0
push static 14
return
function Parameters.maxDist 0
push static 15
return
function Parameters.maxMarchingSteps 0
push static 16
return
function Parameters.maxMarchingStepsShadow 0
push static 17
return
function Parameters.exyy 0
push static 18
return
function Parameters.eyyx 0
push static 19
return
function Parameters.eyxy 0
push static 20
return
function Parameters.exxx 0
push static 21
return
