function TwoToThePower.init 2
push constant 16
call Array.new 1
pop static 0
push constant 1
pop local 0
label WHILE_EXP0
push local 1
push constant 16
lt
not
if-goto WHILE_END0
push local 1
push static 0
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push local 0
add
pop local 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function TwoToThePower.of 0
push argument 0
push static 0
add
pop pointer 1
push that 0
return
