function RayMarcher.init 0
call Parameters.precision 0
pop static 0
call Parameters.maxDist 0
pop static 1
call Parameters.exyy 0
pop static 2
call Parameters.eyyx 0
pop static 3
call Parameters.eyxy 0
pop static 4
call Parameters.exxx 0
pop static 5
call Parameters.lightPos 0
pop static 6
call Parameters.cameraPos 0
pop static 7
call Parameters.kd_id 0
pop static 8
call Parameters.ks_is 0
pop static 9
call Float316.newZero 0
pop static 10
call Vec3.newZero 0
pop static 11
call Vec3.newZero 0
pop static 12
call Vec3.newZero 0
pop static 13
call Vec3.newZero 0
pop static 14
call Vec3.newZero 0
pop static 15
call Surface.newZero 0
pop static 16
call Float316.newZero 0
pop static 17
call Float316.newZero 0
pop static 18
call Float316.newZero 0
pop static 19
call Float316.newZero 0
pop static 20
call Vec3.newZero 0
pop static 21
call Vec3.newZero 0
pop static 22
call Vec3.newZero 0
pop static 23
call Vec3.newZero 0
pop static 24
call Vec3.newZero 0
pop static 25
call Vec3.newZero 0
pop static 26
call Vec3.newZero 0
pop static 27
call Float316.newZero 0
pop static 28
push constant 0
return
function RayMarcher.rayMarch 3
push static 10
push constant 0
push constant 0
push constant 0
call Float316.set 4
pop temp 0
push constant 0
pop local 1
label WHILE_EXP0
push local 0
push argument 3
lt
push local 1
not
and
not
if-goto WHILE_END0
push static 11
push argument 2
push static 10
call Vec3.cmul 3
pop temp 0
push static 11
push argument 1
push static 11
call Vec3.add 3
pop temp 0
push argument 0
push static 11
call Scene.sdScene 2
pop temp 0
push argument 0
call Surface.sd 1
pop local 2
push static 10
push static 10
push local 2
call Float316.add 3
pop temp 0
push static 0
push local 2
call Float316.gt 2
push static 10
push static 1
call Float316.gt 2
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
pop local 1
label IF_FALSE0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push local 2
push static 10
call Float316.s 1
push static 10
call Float316.e 1
push static 10
call Float316.m 1
call Float316.set 4
pop temp 0
push constant 0
return
function RayMarcher.calcNormal 1
push static 12
push argument 1
push static 2
call Vec3.add 3
pop temp 0
push static 16
push static 12
call Scene.sdScene 2
pop temp 0
push static 16
call Surface.sd 1
pop local 0
push static 17
push local 0
call Float316.s 1
push local 0
call Float316.e 1
push local 0
call Float316.m 1
call Float316.set 4
pop temp 0
push static 13
push argument 1
push static 3
call Vec3.add 3
pop temp 0
push static 16
push static 13
call Scene.sdScene 2
pop temp 0
push static 16
call Surface.sd 1
pop local 0
push static 18
push local 0
call Float316.s 1
push local 0
call Float316.e 1
push local 0
call Float316.m 1
call Float316.set 4
pop temp 0
push static 14
push argument 1
push static 4
call Vec3.add 3
pop temp 0
push static 16
push static 14
call Scene.sdScene 2
pop temp 0
push static 16
call Surface.sd 1
pop local 0
push static 19
push local 0
call Float316.s 1
push local 0
call Float316.e 1
push local 0
call Float316.m 1
call Float316.set 4
pop temp 0
push static 15
push argument 1
push static 5
call Vec3.add 3
pop temp 0
push static 16
push static 15
call Scene.sdScene 2
pop temp 0
push static 16
call Surface.sd 1
pop local 0
push static 20
push local 0
call Float316.s 1
push local 0
call Float316.e 1
push local 0
call Float316.m 1
call Float316.set 4
pop temp 0
push static 21
push static 2
push static 17
call Vec3.cmul 3
pop temp 0
push static 22
push static 3
push static 18
call Vec3.cmul 3
pop temp 0
push static 23
push static 4
push static 19
call Vec3.cmul 3
pop temp 0
push static 24
push static 5
push static 20
call Vec3.cmul 3
pop temp 0
push argument 0
push static 21
push static 22
call Vec3.add 3
pop temp 0
push argument 0
push argument 0
push static 23
call Vec3.add 3
pop temp 0
push argument 0
push argument 0
push static 24
call Vec3.add 3
pop temp 0
push argument 0
push argument 0
call UtilsVec.normalize 2
pop temp 0
push constant 0
return
function RayMarcher.lightIntensity 0
push static 25
push static 6
push argument 1
call Vec3.sub 3
pop temp 0
push static 25
push static 25
call UtilsVec.normalize 2
pop temp 0
push static 26
push static 7
push argument 1
call Vec3.sub 3
pop temp 0
push static 26
push static 26
call UtilsVec.normalize 2
pop temp 0
push static 28
push static 25
push argument 2
call UtilsVec.angle 3
pop temp 0
push static 28
call Float316.double 1
pop temp 0
push static 27
push argument 2
push static 28
call Vec3.cmul 3
pop temp 0
push static 27
push static 27
push static 25
call Vec3.sub 3
pop temp 0
push static 28
push static 25
push argument 2
call UtilsVec.angle 3
pop temp 0
push argument 0
push static 8
push static 28
call Float316.mul 3
pop temp 0
push static 28
push static 27
push static 26
call UtilsVec.angle 3
pop temp 0
push static 28
push static 28
push static 28
call Float316.mul 3
pop temp 0
push static 28
push static 28
push static 28
call Float316.mul 3
pop temp 0
push static 28
push static 28
push static 9
call Float316.mul 3
pop temp 0
push argument 0
push argument 0
push static 28
call Float316.add 3
pop temp 0
push constant 0
return
