function Scene.init 0
push constant 0
push constant 127
push constant 8192
call Float316.new 3
pop static 0
call Parameters.objectColor 0
pop static 1
call Parameters.spherePos 0
pop static 2
call Parameters.sphereRad 0
pop static 4
call Parameters.torusPos 0
pop static 3
call Parameters.torusOuterRad 0
pop static 5
call Parameters.torusInnerRad 0
pop static 6
call Vec3.newZero 0
pop static 7
call Float316.newZero 0
pop static 8
call Float316.newZero 0
pop static 9
call Vec3.newZero 0
pop static 10
call Float316.newZero 0
pop static 11
call Float316.newZero 0
pop static 12
call Float316.newZero 0
pop static 13
call Float316.newZero 0
pop static 14
call Float316.newZero 0
pop static 15
call Float316.newZero 0
pop static 16
call Float316.newZero 0
pop static 17
call Float316.newZero 0
pop static 18
call Surface.newZero 0
pop static 19
call Surface.newZero 0
pop static 20
call Surface.newZero 0
pop static 21
call Surface.newZero 0
pop static 22
push constant 0
return
function Scene.sdSphere 0
push static 7
push argument 1
push argument 3
call Vec3.sub 3
pop temp 0
push static 8
push static 7
call UtilsVec.length 2
pop temp 0
push static 9
push static 8
push argument 2
call Float316.sub 3
pop temp 0
push argument 0
push static 9
push argument 4
call Surface.set 3
pop temp 0
push constant 0
return
function Scene.sdTorus 3
push static 10
push argument 1
push argument 4
call Vec3.sub 3
pop temp 0
push static 10
call Vec3.x 1
pop local 0
push static 10
call Vec3.y 1
pop local 1
push static 10
call Vec3.z 1
pop local 2
push static 11
push local 0
push local 0
call Float316.mul 3
pop temp 0
push static 12
push local 2
push local 2
call Float316.mul 3
pop temp 0
push static 13
push static 11
push static 12
call Float316.add 3
pop temp 0
push static 13
push static 13
call UtilsFloat.sqrt 2
pop temp 0
push static 13
push static 13
push argument 2
call Float316.sub 3
pop temp 0
push static 11
push static 13
push static 13
call Float316.mul 3
pop temp 0
push static 12
push local 1
push local 1
call Float316.mul 3
pop temp 0
push static 14
push static 11
push static 12
call Float316.add 3
pop temp 0
push static 14
push static 14
call UtilsFloat.sqrt 2
pop temp 0
push static 14
push static 14
push argument 3
call Float316.sub 3
pop temp 0
push argument 0
push static 14
push argument 5
call Surface.set 3
pop temp 0
push constant 0
return
function Scene.sdFloor 0
push static 15
push argument 1
call Vec3.y 1
push static 0
call Float316.add 3
pop temp 0
push argument 0
push static 15
push argument 2
call Surface.set 3
pop temp 0
push constant 0
return
function Scene.unionSDF 1
push argument 1
call Surface.sd 1
pop local 0
push local 0
push argument 0
call Surface.sd 1
call Float316.gt 2
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 0
return
label IF_FALSE0
push argument 1
return
function Scene.sdScene 0
push static 16
push argument 1
call Vec3.x 1
call UtilsFloat.floor 2
pop temp 0
push static 17
push argument 1
call Vec3.z 1
call UtilsFloat.floor 2
pop temp 0
push static 18
push static 16
push static 17
call Float316.add 3
pop temp 0
push static 18
push static 18
call Float316.mod2 2
pop temp 0
push static 18
push static 18
push static 1
call Float316.mul 3
pop temp 0
push static 18
push static 18
push static 0
call Float316.add 3
pop temp 0
push static 19
push argument 1
push static 18
call Scene.sdFloor 3
pop temp 0
push static 20
push argument 1
push static 4
push static 2
push static 1
call Scene.sdSphere 5
pop temp 0
push static 21
push argument 1
push static 5
push static 6
push static 3
push static 1
call Scene.sdTorus 6
pop temp 0
push static 20
push static 21
call Scene.unionSDF 2
pop static 22
push static 22
push static 19
call Scene.unionSDF 2
pop static 22
push argument 0
push static 22
call Surface.sd 1
push static 22
call Surface.col 1
call Surface.set 3
pop temp 0
push constant 0
return
