function UtilsVec.init 0
push constant 0
push constant 127
push constant 8192
call Float316.new 3
pop static 0
call Float316.newZero 0
pop static 1
call Float316.newZero 0
pop static 2
call Float316.newZero 0
pop static 3
call Float316.newZero 0
pop static 4
call Float316.newZero 0
pop static 5
call Float316.newZero 0
pop static 6
call Float316.newZero 0
pop static 7
call Float316.newZero 0
pop static 8
call Float316.newZero 0
pop static 9
call Float316.newZero 0
pop static 10
push constant 0
return
function UtilsVec.length 3
push argument 1
call Vec3.x 1
pop local 0
push argument 1
call Vec3.y 1
pop local 1
push argument 1
call Vec3.z 1
pop local 2
push static 1
push local 0
push local 0
call Float316.mul 3
pop temp 0
push static 2
push local 1
push local 1
call Float316.mul 3
pop temp 0
push static 3
push local 2
push local 2
call Float316.mul 3
pop temp 0
push argument 0
push static 1
push static 2
call Float316.add 3
pop temp 0
push argument 0
push argument 0
push static 3
call Float316.add 3
pop temp 0
push argument 0
push argument 0
call UtilsFloat.sqrt 2
pop temp 0
push constant 0
return
function UtilsVec.normalize 3
push argument 1
call Vec3.x 1
pop local 0
push argument 1
call Vec3.y 1
pop local 1
push argument 1
call Vec3.z 1
pop local 2
push static 1
push local 0
push local 0
call Float316.mul 3
pop temp 0
push static 2
push local 1
push local 1
call Float316.mul 3
pop temp 0
push static 3
push local 2
push local 2
call Float316.mul 3
pop temp 0
push static 4
push static 1
push static 2
call Float316.add 3
pop temp 0
push static 4
push static 4
push static 3
call Float316.add 3
pop temp 0
push static 4
push static 4
call UtilsFloat.invSqrt 2
pop temp 0
push argument 0
push argument 1
push static 4
call Vec3.cmul 3
pop temp 0
push constant 0
return
function UtilsVec.dot 0
push static 1
push argument 1
call Vec3.x 1
push argument 2
call Vec3.x 1
call Float316.mul 3
pop temp 0
push static 2
push argument 1
call Vec3.y 1
push argument 2
call Vec3.y 1
call Float316.mul 3
pop temp 0
push static 3
push argument 1
call Vec3.z 1
push argument 2
call Vec3.z 1
call Float316.mul 3
pop temp 0
push argument 0
push static 1
push static 2
call Float316.add 3
pop temp 0
push argument 0
push argument 0
push static 3
call Float316.add 3
pop temp 0
push constant 0
return
function UtilsVec.angle 0
push argument 0
push argument 1
push argument 2
call UtilsVec.dot 3
pop temp 0
push argument 0
call Float316.s 1
push constant 0
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 0
push constant 0
push constant 0
push constant 0
call Float316.set 4
pop temp 0
push constant 0
return
label IF_FALSE0
push argument 0
push static 0
call Float316.gt 2
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push argument 0
push constant 0
push constant 127
push constant 8192
call Float316.set 4
pop temp 0
label IF_FALSE1
push constant 0
return
function UtilsVec.cross 6
push argument 1
call Vec3.x 1
pop local 0
push argument 1
call Vec3.y 1
pop local 1
push argument 1
call Vec3.z 1
pop local 2
push argument 2
call Vec3.x 1
pop local 3
push argument 2
call Vec3.y 1
pop local 4
push argument 2
call Vec3.z 1
pop local 5
push static 5
push local 1
push local 5
call Float316.mul 3
pop temp 0
push static 6
push local 4
push local 2
call Float316.mul 3
pop temp 0
push argument 0
call Vec3.x 1
push static 5
push static 6
call Float316.sub 3
pop temp 0
push static 7
push local 2
push local 3
call Float316.mul 3
pop temp 0
push static 8
push local 5
push local 0
call Float316.mul 3
pop temp 0
push argument 0
call Vec3.y 1
push static 7
push static 8
call Float316.sub 3
pop temp 0
push static 9
push local 0
push local 4
call Float316.mul 3
pop temp 0
push static 10
push local 3
push local 1
call Float316.mul 3
pop temp 0
push argument 0
call Vec3.z 1
push static 9
push static 10
call Float316.sub 3
pop temp 0
push constant 0
return
